.narrow {
    max-width: min(100%, 45em);
}

#player_table {
    text-align: center;
    border-spacing: 0em 1em;
    display: block;
    overflow-x: auto;
}

@media screen and (orientation: portrait) {
    input[type='range'].value_slider {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
    }
}
input[type='range'].player_setter {accent-color: rgb(79,140,157);}
input[type='range'].player_middle {accent-color: rgb(182,69,59);}
input[type='range'].player_outside {accent-color: rgb(22,109,42);}

#output_table {
    text-align: center;
}

#output_table td {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

input.menu, .submenu {
    display: none;
}

label.menu {
    position: absolute;
    right: 0em;
    cursor: pointer;
}

input.menu:checked~.submenu {
    display: block;
}

.submenu {
    position: absolute;
    right: 0em;
    margin-top: 2em;
}

ul.submenu {
    list-style-type: none;
}
