html,
body {
  overscroll-behavior-y: contain;
}

body {
  font-family: Verdana, sans-serif;
  background-color: #f1ebe4;
}

.narrow {
  max-width: min(100%, 60em);
}

.center_content {
  padding: 2em 2em;
}

button {
  background-color: #d6dcda;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  padding: 0.5em 0.5em;
  margin: 0em 0.25em;
  border-radius: 2px;
}

#player_table {
  margin-top: 2em;
  text-align: center;
  border-spacing: 0em 1em;
  display: block;
  overflow-x: auto;
}

input.player_name {
  background-color: #f1f3f3;
  border: none;
  padding: 6px;
  border-radius: 4px;
  font-size: 100%;
  text-align: right;
  width: 8em;
}

@media screen and (orientation: portrait) {
  input[type='range'].value_slider {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
  }
}
input[type='range'].player_setter {
  accent-color: rgb(79, 140, 157);
}
input[type='range'].player_middle {
  accent-color: rgb(182, 69, 59);
}
input[type='range'].player_outside {
  accent-color: rgb(22, 109, 42);
}
input[type='range'].player_pin_side {
  accent-color: rgb(180, 128, 0);
}
input[type='range'].player_back_row_set {
  accent-color: rgb(92, 92, 92);
}
input[type='range'].force_H {
  writing-mode: horizontal-tb !important;
  direction: ltr !important;
  width: 100%;
  height: 1.5em;
  margin: 0;
}
span.slide_label_right {
  position: absolute;
  left: 100%;
  transform: translateX(-100%) translateY(-100%);
  pointer-events: none;
}
span.slide_label_left {
  position: absolute;
  right: 100%;
  transform: translateX(100%) translateY(-100%);
  pointer-events: none;
}

.stack_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  min-width: 8em;
  padding: 0.25em 0;
}

.labeled_wrapper {
  position: relative;
  width: 100%;
  height: 1.5em; /* Match the slider height */
  display: flex;
  align-items: center;
}

/* Make the slider fill the wrapper */
.labeled_wrapper input[type='range'] {
  width: 100%;
  margin: 0;
  display: block;
}

td.center_V {
  vertical-align: middle !important;
  height: 100%;
}

#output_table {
  text-align: center;
}

#output_table td {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

input.menu,
.submenu {
  display: none;
}

label.menu {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
  font-size: 200%;
}

input.menu:checked ~ .submenu {
  display: block;
}

.submenu {
  position: absolute;
  right: 0em;
  margin-top: 2em;
  background-color: #f1ebe4;
  padding: 3em;
  border: 2px solid black;
  border-radius: 1em;
}

ul.submenu {
  list-style-type: none;
  line-height: 200%;
}

.submenu input {
  margin-left: 1em;
}

input.help,
.subhelp {
  display: none;
}

label.help {
  position: absolute;
  right: 0.5em;
  top: 1.5em;
  cursor: pointer;
  font-size: 200%;
}

input.help:checked ~ .subhelp {
  display: block;
}

.subhelp {
  font-size: 100%;
  position: absolute;
  width: min(100%, 45em);
  height: auto;
  margin: 5em auto;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #f1ebe4;
  padding: 3em;
  border: 2px solid black;
  border-radius: 1em;
}

ul.subhelp {
  list-style-type: none;
  line-height: 200%;
}

.subhelp input {
  margin-left: 1em;
}

div.loading_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1ebe4;
  text-align: center;
  font-size: 200%;
}

.loading_screen p {
}

.loading_screen .spinning {
  animation: spin 5s linear infinite alternate-reverse;
  width: 5em;
  display: block;
  margin: 1em auto;
}

@keyframes spin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

#loading_progress span {
  margin: 0em 0.25em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #eee;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -140%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
